.textArea {
    width: 300px;
    height: 100px;
}

.containerText {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.containerResults {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.container {
    margin: 2rem;
}

.results {
    margin-top: 1rem;
}
